* {
    padding: 0 !important;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    color:green !important;
    background-color: black;
    text-decoration: none !important;
}

* h1 { 
    font-weight: 700;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    padding-bottom: 10vh !important;
}

@media screen and (min-width: 680px) {
    .hidepc {
        display: none !important;
    }
}

@media screen and (max-width: 680px) {
    .hidemobile {
        display: none !important;
    }
}

/* Descrizione */

.imgdesc {
    text-align: center;
}
.imgdesc img {
    margin-top: 2vh;
    width: 60%;
    border-radius: 50%;
}

.desc {
    padding: 0 1.5vh !important;
    line-height: 2.7vh;
}

.desc h1 {
    text-align: center;
}

.desc p {
    text-align: justify !important;
    font-size: 2.5vh;
}

.title {
    font-weight: 700;
    font-size: 3vh !important;
}

@media screen and (max-height: 480px){
    .desc {
        line-height: 5vh;
    }
    .desc p {
        font-size: 4vh;
    }
    .title {
        font-size: 6vh !important;
    }
}

@media screen and (min-width: 680px) {
    * h1 {
        text-align: center !important;
    }
    .imgdesc img {
        width:50%;
    }

    desc h1 {
        text-align: left;
    }

    .desc {
        margin-top: 15vh;
        width:70%;
    }

    .grid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50vh;
    }
}

/* Projects */

#proj img {
    width: 100%;
}

#proj h1 {
    font-size:2.5vh;
    padding: 1.5vh !important;
}

@media screen and (max-height: 450px) {
    #proj h1{
        font-size: 4vh;
    }
}

@media screen and (min-width: 680px) {
    .projtitle {
        text-align: center;
    }
    .projgrid {
        display: grid;
        grid-template-columns: 20% 20%;
        grid-template-rows: auto;
        justify-content: center;
        gap: 10vh;
    }
}

/* Certificates */

#cert {
    margin-top: 3vh !important;
}

#certtitle {
    padding: 0 1.5vh !important;
}

#certlist {
    padding: 0 4.5vh !important;
    
}

@media screen and (min-width: 680px) {
    #cert {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

/* Contacts */

#cont {
    margin-top: 3vh !important;
}

#contitle {
    padding: 0 1.5vh !important;
}

#contlist {
    padding: 0 4.5vh !important;
    
}

@media screen and (min-width: 680px) {
    #cont {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

/* Navbar */

#bnav {
    width: 100%;
    background-color: green !important;
    position: fixed;
    bottom: 0;
}

#blist {
    background-color: green !important;
    list-style-type: none;
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 10vh;
}

#blist li {
    background-color: green !important;
    padding: 2vh 3vh !important;
    float: left;
}

#blist a {
    color: black!important;
    font-size: 4.5vh;
    background-color: green !important;
}

/* Credits */

#footer {
    width: 100%;
    height: 8vh;
    background-color: rgb(54 , 54 , 54);
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer h1 {
    background-color: rgb(54 , 54 , 54);
    font-size: 2.5vh !important;
}

#footer a {
    color: lightskyblue!important;
    font-size: 3vh !important;
}